
.minput {
    padding: 15px;
    border: solid 1px lightgray;
}

.vrhforma {
    text-align: center;
}

.pozadina {
    padding-top: 13%;
}

.icon {
    width=5%;
}

#button div {
    background-color: blue !important;
    height:100px;
    width:100px;
}


