
.minput {
    padding: 15px;
    border: solid 1px lightgray;
}

.vrhforma {
    text-align: center;
}

.pozadina {
    padding-top: 13%;
}

.icon {
    width=5%;
}

#button div {
    background-color: blue !important;
    height:100px;
    width:100px;
}



.row {
    z-index: 2;
}

.zeleni {
    height:30px;
    background-color: black;
}

.svijetlo {
    background: linear-gradient(to right, rgba(84, 104, 229, 0), rgba(84, 104, 229,0.5));
}

.svijetlo2 {
        background: linear-gradient(to right, rgba(84, 104, 229, 0.5), rgba(84, 104, 229,0.78));
}

#myMarks {
    height: 662px;
    overflow:scroll;
}



.marklist {
    margin-top:25px;
    margin-right: 3%;
}

.markbtn {
    position:relative; 
    bottom:5px;
}



.aps {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 2;
}

.prikaz {
    position:absolute;
    top:150px;
    left: 150px;
    z-index: 100;
}

#sher {
    position:relative;
    right:38.5%;
}

#sharebtn {
    margin-left:30px;
}


