body {
    margin:0px;
    padding: 0px;
    background-color: #eaebed !important;
} 

.navel {
    padding-left: 7%;
    padding-right: 7%;
    border:white solid;
    color:aqua;
}

#markeri {
    width:5%;
    height:400px;
    float:left;
    background-color: gray;
}

#feed {
    float:left;
    width:50%;
    height:400px;
    background-color: gray;
}

#ayy {
    display: inline-block;
    width:100%;
}

#black {
    background-color: black;
    height: 50px;
    position:relative;
    bottom: 5px;
}

.page-header {
  padding-top: 1em;
}

.fb-login-button {
    position:relative;
    top: 1em;
    right:1.5em;
}

#map {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: 1;
}

.col-sm-6 {
    padding: 0px !important;
}

.modal-header {
    text-align: center;
}

.fa-facebook {
    padding-right: 7%;
}

.mojfejs {
    position:relative;
    left: 60.5%;
}

.marg {
    position: relative;
    right:2.5%;
}

#listheder {
    border-bottom:solid 1px black;
    text-align:center;
    font-family: 'Cormorant SC', sans-serif;
}

.mediaslika{
     margin:auto;
     object-fit: cover;
}

#novo {
   
    max-height: 462px;
    overflow: scroll;
    opacity: 0.2;
    transition: opacity 2s;
    min-height: 462px;
}
@media screen and (max-height: 640px) {
    #novo {
       max-height:380px;
       min-height:380px;
    }
}

.media-body{
    padding-top: 7%;
}

#markinfo {
    margin-top: 2%;
    background-color: white;
}

.media{
    border-radius:5px;
}

.media:hover{
   background: linear-gradient(to right, rgba(0,0,255,0.3), rgba(0,0,255,0.65));
}

#shit {
    position:relative;
    top:0.4em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.item img {
   max-width:100%;
   max-height:100%;
   object-fit: contain;
}

#myCarousel {
   display:none;
}

#druga {
    display:none;
}

.active {
    max-height: 350px;
}

.icon-bar {
    width: 100%; /* Full-width */ /* Dark-grey background */
    overflow: auto;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 10%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #427aa5; /* White text color */
    font-size: 20px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #e7f9c7; /* Add an active/current color */
}


#vmopis {
    text-align: center;
}

.tablicadiv {
    position: relative;
    padding: 0px !important;
    z-index: 2;
}

#novo:hover {
    opacity:1;
}

#logo {
    position:absolute;
    top:20px;
    left:20px;
    z-index: 2;
}

.facelogin {
    position: absolute;
    top:20px;
    left:82%;
    z-index: 2;
}

#buttondiv {
    margin-top:1%;
    margin-bottom: 1%;
}

#viewCarousel {
    display:none;
}

#bodyKuka {
    max-height: 300px;
}


.buttondiv {
    position: absolute;
    left:85%;
    top:7%;
    z-index: 2;
}


.mojrow {
    height:80px;
}



.mojbtn {
    margin-top: 30px !important;
    width:50%;
    display:block !important;
    margin:auto;
    position:relative;
    left:3%;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #3b5998;
    border-color: #3b5998;
}

.profile {
    height:50px;
    background-color:#3b5998;
    width: 70%;
    margin:auto;
    position: relative;
    border-radius:10px;
    top:14px;
}



#profile {
    float: left;
    color:white;
    margin-top: 15px;
    text-align: center;
}

#profilna {
   float:left;
    margin-right: 5%;
}

.iconrow {
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
}
.iconrow:hover{
    opacity:1;
}

.ikondol {
    border-left:1px solid black;
    border-right:1px solid black;
    overflow: hidden;
}

#parachut {
    position:absolute;
    top:450px;
    z-index: 2;
}







#udaljenost {
    position:relative;
    right:30.5%;
    font-size: 15px;
}

#tornadoFooter {
    display:none;
}
