body {
    margin:0px;
    padding: 0px;
    background-color: #eaebed !important;
} 

.navel {
    padding-left: 7%;
    padding-right: 7%;
    border:white solid;
    color:aqua;
}

#markeri {
    width:5%;
    height:400px;
    float:left;
    background-color: gray;
}

#feed {
    float:left;
    width:50%;
    height:400px;
    background-color: gray;
}

#ayy {
    display: inline-block;
    width:100%;
}

#black {
    background-color: black;
    height: 50px;
    position:relative;
    bottom: 5px;
}

.page-header {
  padding-top: 1em;
}

.fb-login-button {
    position:relative;
    top: 1em;
    right:1.5em;
}

#map {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index: 1;
}

.col-sm-6 {
    padding: 0px !important;
}

.modal-header {
    text-align: center;
}

.fa-facebook {
    padding-right: 7%;
}

.mojfejs {
    position:relative;
    left: 60.5%;
}

.marg {
    position: relative;
    right:2.5%;
}

#listheder {
    border-bottom:solid 1px black;
    text-align:center;
    font-family: 'Cormorant SC', sans-serif;
}

.mediaslika{
     margin:auto;
     object-fit: cover;
}

#novo {
    border-top: solid 1px black;
    max-height: 33em;
    overflow: scroll;
    opacity: 0.2;
    transition: opacity 2s;

}

.media-body{
    padding-top: 7%;
}

#markinfo {
    margin-top: 2%;
    background-color: white;
}

.media{
    border-radius:5px;
}

.media:hover{
    background-color: #323bb5 !important;
}

#shit {
    position:relative;
    top:0.4em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.item img {
   max-width:100%;
   max-height:100%;
   object-fit: contain;
}

#myCarousel {
   display:none;
}

#druga {
    display:none;
}

.active {
    max-height: 350px;
}

.icon-bar {
    width: 100%; /* Full-width */ /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 10%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #427aa5; /* White text color */
    font-size: 20px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}


#vmopis {
    text-align: center;
}

.tablicadiv {
    position: relative;
    padding: 0px !important;
    z-index: 2;
}

.tablicadiv:hover {
    opacity:1;
}

#logo {
    position:absolute;
    top:20px;
    left:20px;
    z-index: 2;
}

.facelogin {
    position: absolute;
    top:20px;
    left:82%;
    z-index: 2;
}

#buttondiv {
    margin-top:1%;
    margin-bottom: 1%;
}

#viewCarousel {
    display:none;
}

#bodyKuka {
    max-height: 300px;
}


.buttondiv {
    position: absolute;
    left:85%;
    top:7%;
    z-index: 2;
}

#muhbuton {

}



.mojrow {
    height:100px;
}



.mojbtn {
    margin-top: 30px !important;
    width:50%;
    display:block !important;
    margin:auto;
    position:relative;
    left:3%;
}
